*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

/* ------------------------Primary heading and cta animations------------------------- */
@keyframes movePrimaryMain {
  0% {
    transform: translateX(-25%);
    opacity: 0;
  }
  80% {
    transform: translateX(5%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes movePrimarySub {
  0% {
    transform: translateX(25%);
    opacity: 0;
  }
  80% {
    transform: translateX(-5%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveCtaBtn {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  80% {
    transform: translateY(-5%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #fff;
  padding: 2rem;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 8rem;
  text-align: left;
}
.heading-primary--main {
  display: block;
  font-size: 8rem;
  font-weight: 400;
  letter-spacing: 3rem;
  animation: movePrimaryMain 1.3s ease-out;
}
.heading-primary--sub {
  display: block;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1.57rem;
  animation: movePrimarySub 1.3s ease-out;
}

.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  letter-spacing: 2px;
  color: transparent;
  transition: all 0.2s;
}
.heading-secondary:hover {
  transform: skewY(3deg) skewX(5deg) scale(1.05);
  text-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.212);
}

.heading-tertiary {
  color: #777;
  text-transform: uppercase;
  font-size: 2rem;
}

.paragraph {
  color: #777;
  font-size: 2rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 30px;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}
.btn:link, .btn:visited {
  display: block;
  width: 30rem;
  padding: 1.5rem 4rem;
  border-radius: 5rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
}
.btn--animated {
  position: relative;
  margin: 10rem auto 0;
  animation: moveCtaBtn 1s ease-out;
  transition: all 0.2s ease;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0rem;
  left: 0rem;
  display: inline-block;
  border-radius: 5rem;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: all 0.3s;
}
.btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.589);
}
.btn:hover::after {
  transform: scale(1.5);
  opacity: 0;
}
.btn:active {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.541);
}

.btn-text:link,
.btn-text:visited {
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  color: #55c57a;
  padding: 3px;
  border-bottom: 1px solid #55c57a;
  transition: all 0.2s;
}
.btn-text:link:hover,
.btn-text:visited:hover {
  transform: translateY(-2px);
  background-color: #55c57a;
  color: #fff;
  border-radius: 2px;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn-text:link:active,
.btn-text:visited:active {
  transform: translateY(0px);
  box-shadow: 0rem 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  border-radius: 4px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  position: absolute;
  outline-offset: 2px;
  transition: all 0.2s;
}
.composition__photo--p1 {
  top: -2rem;
  left: 0;
}
.composition__photo--p1:hover {
  cursor: pointer;
  z-index: 1;
  transform: scale(1.05) translateY(-0.5rem);
  outline: 4px solid #55c57a;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
}
.composition__photo--p1:hover .composition__photo--p2,
.composition__photo--p1:hover .composition__photo--p3 {
  transform: scale(0.95);
}
.composition__photo--p2 {
  top: 15rem;
  left: 20%;
}
.composition__photo--p2:hover {
  cursor: pointer;
  z-index: 1;
  transform: scale(1.05) translateY(-0.5rem);
  outline: 4px solid #55c57a;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
}
.composition__photo--p3 {
  top: 2rem;
  left: 50%;
}
.composition__photo--p3:hover {
  cursor: pointer;
  z-index: 1;
  transform: scale(1.05) translateY(-0.5rem);
  outline: 4px solid #55c57a;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

/* --------------------Header styling--------------------- */
.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.3), rgba(40, 180, 133, 0.5)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 4rem;
}
.header__text-box {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
}

.row {
  color: #000;
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col] {
  float: left;
}
.row [class^=col]:not(:last-child) {
  margin-right: 6rem;
}
.row .col1of2 {
  width: calc((100% - 6rem) / 2);
}
.row .col1of3 {
  width: calc((100% - 6rem * 2) / 3);
}
.row .col2of3 {
  width: calc(6rem + 2 * (100% - 6rem * 2) / 3);
}
.row .col1of4 {
  width: calc((100% - 6rem * 3) / 4);
}
.row .col2of4 {
  width: calc(6rem + 2 * (100% - 6rem * 3) / 4);
}
.row .col3of4 {
  width: calc(12rem + 3 * (100% - 6rem * 3) / 4);
}

.section-about {
  background-color: #f7f7f7;
  margin-top: -15vh;
  padding: 25vh 0;
}
