body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-white;
    padding: 2rem;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 8rem;
    text-align: left;

    &--main {
        display: block;
        font-size: 8rem;
        font-weight: 400;
        letter-spacing: 3rem;
        animation: movePrimaryMain 1.3s ease-out;
    }
    
    &--sub {
        display: block;
        font-weight: 700;
        font-size: 3rem;
        letter-spacing: 1.57rem;
        animation: movePrimarySub 1.3s ease-out;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    -webkit-background-clip: text;
    letter-spacing: 2px;
    color: transparent;
    transition: all .2s;

    &:hover {
        transform: skewY(3deg) skewX(5deg) scale(1.05);
        text-shadow: .5rem .5rem 2rem rgba($color-black, 0.212);
    }
}

.heading-tertiary {
    color: $color-grey;
    text-transform: uppercase;
    font-size: 1.6rem;
}

.paragraph {
    color: $color-grey;
    font-size: 1.6rem;

    &:not(:last-child) {
        margin-bottom: 30px;
    }

}